/* Hover effect for edit button */
.edit-btn-hover:hover {
  background-color: rgba(233, 229, 10, 0.664) !important;
  color: white !important;
  border-color: rgba(233, 229, 10, 0.664) !important;
}

.edit1-btn-hover:hover{
  background-color: #db2100 !important;
  color: white !important;
  border-color: #db2100 !important;
}